.card{
  background-color: #0C0C0D;
  width: 200px;
  height: 130px;
  border-radius: 10px;
  margin: 10px;

  .heart{

    color: white;
    scale: 1.5;

  }
}
.heart-flex{
  margin-left:10px;
}
.no-a-style {
  text-decoration: none;
  color: white;
}